@model Vidly.ViewModels.CustomerFormViewModel
@{
    ViewBag.Title = "Formulário Customer";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Customer</h2>

@using (Html.BeginForm("SaveOrUpdate", "Customers"))
{
    @Html.ValidationSummary(true, "Por favor, preencha os campos obrigatórios.");
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name)   
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MembershipTypeId)
        @Html.DropDownListFor(m => m.Customer.MembershipTypeId, new SelectList(Model.MembershipTypes, "Id", "Name"), "Select Membership Type", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.MembershipTypeId)
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthdate)
        @Html.TextBoxFor(m => m.Customer.Birthdate,"{0:d/mm/yyyy}", new { @class = "form-control", placeholder = "ex: 25/04/1990" })
        @Html.ValidationMessageFor(m => m.Customer.Birthdate)  
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribedToNewsletter) Subscribed to a newsletter?
        </label>
    </div>
    
    @*determina se ID é novo/usado*@
    @Html.HiddenFor(m => m.Customer.Id);
    @Html.AntiForgeryToken()
    <button type="submit" class="btn btn-primary">Save</button>
}

@section scripts
{
   @Scripts.Render("~/bundles/jqueryval") 
}
